.hide {
  display: none;
}
.head-nav {
  li {
    &:hover {
      background-color: $gray;
      &:before {
        background-color: $gray;
      }
      svg {
        background: $gray;
        fill: $yellow;
      }
      a {
        color: $yellow;
      }
    }
    &:before {
      position: absolute;
      left: -$pad;
      top: 0;
      width: $pad;
      height: 100%;
      content: "";
      background: $yellow;
      z-index: 1;
      transition: background 400ms;
    }
  }
  ul {
    margin: {
      top: $pad * 2;
      right: 0;
      bottom: 0;
      left: 0;
    }
    padding: 0;
    list-style: none;
  }
  li {
    position: relative;
    clear: both;
    width: 100%;
    padding: 0;
    transition: background 400ms;
    a {
      display: flex;
      padding: {
        top: 2vh;
        bottom: 2vh;
      }
    }
  }
  a {
    align-items: center;
    width: 100%;
    color: $white;
    text-decoration: none;
    transition: color 400ms;
    span {
      position: relative;
      display: block;
      z-index: 0;
      font-family: Muli;
      font-size: $header3;
      text-indent: -20em;
      white-space: nowrap;
      transition: text-indent 400ms ease-in-out;
    }
  }
  svg {
    position: relative;
    max-width: 80px;
    max-height: 30px;
    z-index: 1;
    fill: $white;
    background: $gray;
    transition: 400ms;
  }
  @media screen and (max: 768px) {
    ul {
      margin: {
        top: $pad/4;
      }
    }
    svg {
      max-width: 20px;
    }
  }
}
.main-head {
  position: fixed;
  bottom: 0;
  width: 150px;
  height: 100%;
  z-index: 1;
  background: $gray;
  transition: width 400ms;
  &:hover {
    width: 336px;
    & + .wrap-all-the-things {
      transform: translateX(336px);
      max-width: 100%;
      opacity: 0.4;
    }
    .head-nav {
      li {
        @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) {
            span {
              transition-delay: 100ms * $i;
            }
          }
        }
      }
      span {
        text-indent: 0;
      }
    }
  }
  @media screen and (max: 768px) {
    width: 70px;
    padding: 0 $pad;
    .head-nav {
      padding: {
        left: 7px;
      }
    }
    &:hover {
      .head-nav {
        span {
          text-indent: 1em;
        }
      }
    }
  }
}
.nav-logo {
  @include flex(center, center, column);
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: 1.8rem;
  width: 75%;
}
.wrap-all-the-things {
  min-height: 100%;
  height: 100%;
  padding: {
    left: 140px;
  }
  margin: {
    top: 0;
  }
  background: rgb(155, 120, 111);
  background: radial-gradient(
    circle,
    rgba(155, 120, 111, 1) 0%,
    rgba(90, 85, 96, 1) 43%,
    rgba(70, 52, 78, 1) 83%
  );
  background-size: cover;
  background-position: center center;
  transition: transform 400ms, opacity 400ms;
  @media screen and (max: 480px) {
    padding: {
      left: 70px;
    }
  }
}
