.landing-box {
  width: 100%;
  height: 100%;
}

.landing-main {
  @include flex(center, center, column);
  margin-top: 15rem;
}

#landing-links {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#landing-links li {
  float: left;
  font-size: $header3;
}

#landing-links li a {
  display: block;
  text-align: center;
  padding: 3rem;
  text-decoration: none;
  color: $black;
}

#landing-links li a:hover {
  color: $yellow;
}

#instagram-link {
  position: fixed;
  @include flex(center, center, column);
  width: 3%;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
